*{
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(36,50,61);
	color: white;
}
input[type="submit"]{
	background-color: rgb(26,177,136);
	color: white;
	cursor: pointer;
	font-size: 1em;
	padding: 0.4em;
}
form{
	margin: 1em auto;
	padding: 1em;
	text-align: center;
	width: 60%
}
input[type="text"], input[type="password"], 
select{
	background-color: rgb(36,50,61);
	border: 1px solid rgb(26,177,136);
	border-radius: 10px;
	color: white;
	padding: 0.5em;
	margin: 0.6em;
}
table{
	font-size: 1em;
	margin: 0 auto;
	width: 80%
}
table th,table td{
	text-align: center;
	padding: 0.2em;
}
th{
	background-color: #dd4;
	color: #333;
}